.App {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAACoCAMAAABt9SM9AAAAVFBMVEX////KABTHAADGAADJAADben3vy8vIAADlpafehojWYWXOMDfJAAz89PT03NztwsPdgYTVWl7MHSbosLLru7zadXjgjpDjmpzNJy/UVlrLEBz24uMRYnPWAAAC7klEQVR4nO2c3W7CMAxGQ1qg/MM22ID3f89JEDuduKmnTbaikyv0SZxtB1WzTeuU5KyWs8fp1xptts9oOUiy657JLO8lOuQSda2jZunvWDH/QmQhKzwKWchCljsKWb+Tdezy43Qnjd5yiZSVOonuytKodVRO83LO74tyPs4SHSQaJDpKsrjIGz81OreOSn053UFM7juJdhINJVp+6SdwWj6jvKofSuuoJNdjriy93CurXO7bjb5v3ZfLffRrtY5CFrKQ5Y5CFrL+SRalw3QURamlKNUTqbGIicpVVqSWNSaKqQOykOWOQhaykOWO+jFWLueq0U2iURkiZ1SGyGkfpa+0G7i//pxBkptGV4mOrz+nVRSNtAGFLGQhyx2FLGQhyx2VZLA1LkNe5maDRG8anWSUNqpoWkclnZl+yhj1otFRxq+DJAedyH5I9K5R66h5tbbKZWZfp65fZWbfjVonmfXX1kmj1lH9SFagljUmiqkDspDljkIWsv5fVqB/0jFRPUWppSil3ZmOopE2oJCFLGS5o5CFLGS5o4J+UR4TVU+sWzBio0K1rDFRTB2QhSx3FLKQhSx3FHsdDCj2OlhQPJxpQNFIG1DIQhay3FHIQhZ7HdxRFKWWolRPpMYiJoq9DgYUUwdkIcsdhSxkIcsdxV4HE0pfhboFIyaKRtqAQhaykOWOQhaykOWO4kEnA4pH6Kaj2OtgQLHXwYBi6oAsZLmjkIUs9jq4o9jrYCpKaXemo2ikDShkIQtZ7ihkIQtZ7qigX5THRNUT6xaM2KhQLWtMFFMHZCHLHYUsZCHLHcVeBwOKvQ4WFA9nGlA00gYUspCFLHcUspDFXgd3FEWppSjVE6mxiIlir4MBxdQBWchyRyELWchyR7HXwYTSV6FuwYiJopE2oJCFLGS5o5CFLGS5o3jQyYDiEbrpKPY6GFDsdTCgmDogC1nuKGQhi70O7ij2OpiKUtqd6SgaaQMKWchCljsKWchCljsKWQbUN3RZ8CROl+BuAAAAAElFTkSuQmCC");
  background-size: auto;
}

.title {
  text-align: center;
  background-color: white;
  font-weight: bolder;
  font-size: 50px;
  margin:auto;
  padding-bottom: 10px;
}

.nav {
  text-align: center;
  background-color: white;
  margin:auto;
  padding-bottom: 10px;

}

.nav-link {
  padding: 30px;
  font-weight: bold;
  font-size: 22px;
  color:black;
}

.nav-link:hover {
  background:red;
  color:white;
  padding-block-start: 0%;
  padding-block-end: 0%;
}

.home {
  text-align: center;
  background-color: antiquewhite;
  max-width: fit-content;
  padding: 25px;
  margin:auto;
  border: 2px dotted red;
}

.p-home {
  padding-left: 200px;
  padding-right: 200px;
}

.filter {
  text-align: center;
  background-color: white;
  max-width: fit-content;
  margin:auto
}

.cards-container {
  display: grid;
  padding: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem
}

.card {
  background-color: antiquewhite;
  padding: 10px;
  border: 2px dotted red;
  text-align: center;
}

.card-img-food {
  width: 341.5px;
  height: 512px;
}

.chef-card-img {
  width: 341.5px;
  height: auto;
}

.fav-btn {
  border-radius: 50px;
  background-color: red;
}

.card-details {
  background-color: antiquewhite;
  padding: 200px;
  border: 2px dotted red;
  text-align: center;
}

.instructions {
  text-align: left;
}

.recipes-container {
  border-radius: 50px;
  border: 2px dotted red;
  padding: 20px
}

.recipes {
  background-color: white;
  font-size:medium;
  padding: 5px;
  font-weight: bold;
  border-radius: 50px;

}

.ingredients {
  text-align: left;
  display: inline-block;
  vertical-align: top;
}

.ingredients-container {
  display:inline-block;
}

.reviews-container {
  font-size: 0px;
  background-color: white;

}

.reviews-header {
  display:inline-block;
  font-size:medium
}

.reviews {
  text-align: left;
  font-size:medium;
  padding: 5px;
}

button {
  border-radius: 50px;
  background-color: white;
}

button:hover {
  background-color:black;
  font-weight: bolder;
  color: white;
}

.forms-container {
  display: flex;
  padding: 10px;
}

.chef-form {
  padding: 10px;
}

.chef-form-container {
  background-color: white;
  padding: 5px;
  max-width: fit-content;
  border-radius: 10px

}

.recipe-form {
  padding: 10px;
}

.recipe-form-container {
  background-color: white;
  padding: 5px;
  max-width: fit-content;
  border-radius: 10px

}

.form-headers {
  background-color: antiquewhite;
  max-width: fit-content;
  padding: 5px;
  border-radius: 10px
}

.list-of-chefs {
  background-color: white;
  padding: 10px;
  max-width: fit-content;
  border-radius: 10px;
  height:fit-content;
  padding-bottom: 20px;
}